@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "poppins", sans-serif;
}

.session-header {
  padding: 1.25rem;
  padding-right: 5rem;
  border-bottom: 1px solid #3dd2ba;
  position: fixed;
  inset: 0 0 auto 0;
  background-color: #fff;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
}

button.nav-link {
  font-size: 1.25rem;
}

.nav-list > *:first-of-type > .nav-link{
  color: #3dd2ba;
  border: 1px solid #3dd2ba;
  border-radius: 15px;
  padding: 0.25rem;
  padding-inline: 0.75rem;
}

.nav-list > *:last-of-type > .nav-link{
  color: #fff;
  background-color: #3dd2ba;
  border: none;
  border-radius: 15px;
  padding: 0.25rem;
  padding-inline: 0.75rem;
}

.items-list {
  width: min(70vw, 1000px);
  margin-inline: auto;
  margin-block: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: 1.5rem;
  row-gap: 3rem;
}

.item {
  display: block;
  text-decoration: none;
  color: #000;
}

.item-image {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.item-info-group {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-top: 0.25rem;
}

.item-name {
  font-weight: bolder;
  font-size: 1.175rem;
}

.item-price {
  font-weight: 500;
}

.item-type {
  text-transform: capitalize;
}

.item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signup-description {
  width: fit-content;
  margin-inline: auto;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 1.125rem;
}

.signup-description > .dev-notes {
  font-weight: 600;
}

.login-form,
.signup-form {
  width: fit-content;
  margin-inline: auto;
  padding: 5rem;
}

:is(.login-form, .signup-form) > fieldset {
  border: none;
  margin-bottom: 2rem;
}

:is(.login-form, .signup-form) > input[type="submit"],
:is(.login-form, .signup-form) > fieldset > input {
  font-size: 1rem;
  margin-left: 0.5rem;
  border-color: #000;
  padding: 0.25em;
}

:is(.login-form, .signup-form) > input[type="submit"] {
  display: block;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 0.5em;
  border-radius: 0.25em;
}
