@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "poppins", sans-serif;
}

.items-list {
  width: min(70vw, 1000px);
  margin-inline: auto;
  margin-block: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  column-gap: 1.5rem;
  row-gap: 3rem;
}

.item {
  display: block;
  text-decoration: none;
  color: #000;
}

.item-image {
  display: block;
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.item-info-group {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin-top: 0.25rem;
}

.item-name {
  font-weight: bolder;
  font-size: 1.175rem;
}

.item-price {
  font-weight: 500;
}

.item-type {
  text-transform: capitalize;
}

.item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
