.notification {
  width: fit-content;
}

.notification:has(> p) {
  padding: 1rem;
  margin: 5rem 0 0 5rem;
}

.notification:has(> p.error) {
  --_error-color: red;

  border: 1px solid var(--_error-color);
  color: var(--_error-color);
  box-shadow: 0 0 1rem var(--_error-color);
}

.notification:has(> p.success) {
  --_success-color: limegreen;

  border: 1px solid var(--_success-color);
  color: var(--_success-color);
  box-shadow: 0 0 1rem var(--_success-color);
}